@page "/"
@inherits LayoutComponentBase


<PageTitle>Index</PageTitle>
<div class="text-center">
    <h1 class="display-4">Online Market Place</h1>
    <p> "Welcome to our online marketplace, your one-stop destination for a wide variety of products. Explore, shop, and experience convenience at your fingertips."</p>
    <img src="https://img.freepik.com/premium-photo/man-working-laptop-online-shopping-screen_771335-28189.jpg?size=626&ext=jpg&uid=R124261318&ga=GA1.1.895503294.1697383500&semt=ais" alt="university of sialkot" height="500" width="1200" />
    <img src="https://img.freepik.com/free-photo/shopping-cart-with-green-pink-cart-that-says-food_1340-37263.jpg" alt="university of sialkot" height="500" width="1200" />
    <img src="https://img.freepik.com/premium-photo/small-shopping-cart-sitting-top-laptop-computer-keyboard-with-cardboard-box-bottom-cart-generative-ai_97167-2027.jpg?size=626&ext=jpg&uid=R124261318&ga=GA1.1.895503294.1697383500&semt=ais" alt="university of sialkot" height="500" width="1200" />
</div>
